{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
		<li>
			<div class="article-panel">
				<p class="first">Категория: {{ p.category.name }}</p>
				<p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
			</div>

			<h2>{{ p.title }}</h2>
			{% if p.image %}
				<p><img class="img-article-left thumb" src="{{ p.image.url }}"></p>
			{% endif %}

			{% autoescape off %}
				{{p.text|linebreaks|truncatewords:50}}
			{% endautoescape %}

			<div class="clear"></div>
			<p class="link-read-post">
				<a href="{{ p.get_absolute_url }}">Читать пост</a>
				{% if user == p.user and user.is_authenticated %}
					<a href="{% url 'update_post' p.slug %}" style="background-color: #0f74a8">Редактировать</a>
				{% endif %}
			</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}