{% extends 'base.html' %}

{% block title %}
    Reply
{% endblock title %}

{% block content %}

<br>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form><br>

<hr>

{% if new_comment %}
    <br><h3>Новые отклики</h3><br>
    <table cellspacing="5" cellpadding="10" border="1"
       style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
        <tr>
            <td width="300"><h5>Объявление</h5></td>
            <td width="100"><h5>Пользователь</h5></td>
            <td width="250"><h5>Отклик</h5></td>
            <td width="150"><h5>Дата отклика</h5></td>
            <td width="250"><h5>Действия</h5></td>
        </tr>
        {% for com in new_comment %}
            <tr>
                <td><p align="center">{{ comment.post }}</p></td>
                <td><p align="center">{{ comment.author }}</p></td>
                <td><p align="center">{{ comment.text }}</p></td>
                <td><p align="center">{{ comment.datetime_creation | date:"d M Y" }}</p></td>
                <td><p align="center"><a href="{% url 'accept' comment.id %}"><u>принять</u></a> / <a href="{% url 'reject' comment.id %}"><u>отклонить</u></a></p></td>
            </tr>
        {% endfor %}
    </table><br>

{% else %}
    <h3>Новых откликов нет</h3><br>
{% endif %}

{% if add_comment %}
    <br><h3>Принятые отклики</h3><br>
    <table cellspacing="5" cellpadding="10" border="1"
           style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
        <tr>
            <td width="300"><h5>Объявление</h5></td>
            <td width="100"><h5>Пользователь</h5></td>
            <td width="250"><h5>Отклик</h5></td>
            <td width="150"><h5>Дата отклика</h5></td>
            <td width="250"><h5>Статус</h5></td>
        </tr>
        {% for comment in add_comment %}
        <tr>
            <td><p align="center">{{ comment.post }}</p></td>
            <td><p align="center">{{ comment.author }} </p></td>
            <td><p align="center">{{ comment.text }}</p></td>
            <td><p align="center">{{ comment.date_creation | date:"d M Y" }}</p></td>
            <td><p align="center">принят (<a href="{% url 'bboard/reject' comment.id %}"><u>отклонить</u></a>)</p></td>
        </tr>
        {% endfor %}
    </table><br>
{% endif %}

{% if del_comment %}

<br><h3>Отклоненные отклики</h3><br>
<table cellspacing="5" cellpadding="10" border="1"
       style=" border-spacing : 10px; border-color : blue; border-style: solid;" bgcolor="FFFFFF">
    <tr>
        <td width="300"><h5>Объявление</h5></td>
        <td width="100"><h5>Пользователь</h5></td>
        <td width="250"><h5>Отклик</h5></td>
        <td width="150"><h5>Дата отклика</h5></td>
        <td width="250"><h5>Статус</h5></td>
    </tr>
    {% for repl in del_comment %}
    <tr>
        <td><p align="center">{{ comment.post }}</p></td>
        <td><p align="center">{{ comment.author.username }} </p></td>
        <td><p align="center">{{ comment.text }}</p></td>
        <td><p align="center">{{ comment.datetime_creation | date:"d M Y" }}</p></td>
        <td><p align="center">отклонен (<a href="{% url 'bboard:accept' comment.id %}"><u>принять</u></a>)</p></td>
    </tr>
    {% endfor %}
</table><br>

{% endif %}

{% endblock content %}
